.indent {
	margin-left: 2em;
}

.build {
    color: blue;
}

.simple {
    color: blue;
}

.command {
    color: green;
}

.error {
    color: red;
}

.log {
    white-space: pre-wrap;
    font-family: monospace;
    word-wrap: break-word;
    display: block;
}

.red {
	color: red;
}

.blue {
	color:blue;
}

.green {
	color:green;
}

.black {
	color:black;
}

.white {
	color:white;
}

.yellow {
	color:yellow;
}

.magenta {
	color:magenta;
}

.cyan {
	color:cyan;
}